.gallery{
    padding: 1rem 0;
    

}
.gallery_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --swiper-navigation-color);
    color: var( --swiper-theme-color);
    border-radius: 30px;
    font-size: 50px;
    text-transform: capitalize;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gallery_container{
    display: flex;
    padding: 1rem;

}
.gallery_container marquee {
    border-radius: 80px ;
}
.gallery_container video{
    padding: 1rem;
    width: 260px;
    height: 463px;
    object-fit: contain;
    margin: 0.5rem 1rem;
    border-radius: 65px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    cursor: pointer;
}
.gallery_imagelist{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen  and (max-width:426px){ 
    .gallery_container marquee{
        border-radius: 10px ;
    }
    
}